[user]
	email = daniel@easy-expense.com
	name = Daniel RB
[push]
	autoSetupRemote = true
[mergetool]
	keepBackup = false
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	m = merge
	a = add

[core]
    pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3
	tool = nvim

[diff]
    colorMoved = default


[init]
	defaultBranch = main
